{
	// "sourceMaps": true,
	"plugins": [
		"@babel/plugin-transform-runtime",
		"react-hot-loader/babel"
	],
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"targets": {
					"browsers": ["> 1%", "not dead", "ie >= 10"]
				},
				"corejs": 3,
			}
		],
		"@babel/preset-react"
	]
}